* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.prepared-dish {
    height: auto;
    width: 400px;
}
.description,
.steps {
    background-color:beige;
}
button {
    background-color: rgb(111, 111, 216);
    color: white;
}
